header {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;

  background-color: #d1e3e8;
  color: #0428bb;
  text-shadow: #669ae1;
  border-radius: 3rem;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #a0b7bb;
}

header > div {
  margin-bottom: 2rem;
}
