<div class="container">
  <h3>Activity list</h3>
  Select from the list activities you took part in
  <p><b>Your attendence: 2/8</b></p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Activity name</th>
      <th>Location</th>
      <th>Date</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let activity of activities; let i = index">
      <td>{{i + 1}}</td>
      <td>{{activity.name}}</td>
      <td>{{activity.location}}</td>
      <td>{{activity.startDate | date:'medium'}}</td>
      <td>
        <button class="delete"
                (click)="deleteActivity(activity); $event.stopPropagation()"><i class="fa fa-times" style="color: orange"></i></button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Submission of activities</h1>
      <h4 class="text-center">Fill in the form to add new activities.</h4>
      <form>
        <div class="form-group">
          <label for="exampleInputFirstName">Subject: </label>
          <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Subject" [(ngModel)]="activity.name" name="firstName">
        </div>
        <div class="form-group">
          <label for="exampleInputLastName">Location: </label>
          <input type="text" class="form-control" id="exampleInputLastName" placeholder="Location" [(ngModel)]="activity.location" name="lastName">
        </div>

        <div class='form-group date datepicker'>
          <label for="datepicker">Date: <i class="glyphicon glyphicon-calendar"></i></label>
          <input type='text' class="form-control" id="datepicker" placeholder="Data" [(ngModel)]="activity.startDate" name="startDate">
          <span class="input-group-addon" style="display: none" onclick="datePicker()">

       </span>
          {{activity.startDate}}
        </div>

        <button type="submit" class="btn btn-default center-block" style="color: white; background-color: #ff7726; width: 190px;" (click)="addActivity()">Add an activity</button>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
