<div class="container">
  <h3>Lista zajęć</h3>
  Wybierz z listy zajęcia w których brałeś udział
  <p><b>Twoja obecność na zajęciach: 2/8</b></p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Nazwa zajęć</th>
      <th>Lokalizacja</th>
      <th>Data</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let activity of activities; let i = index">
      <td>{{i + 1}}</td>
      <td>{{activity.name}}</td>
      <td>{{activity.location}}</td>
      <td>{{activity.startDate | date:'medium'}}</td>
      <td>
        <button class="delete"
                (click)="deleteActivity(activity); $event.stopPropagation()"><i class="fa fa-times" style="color: orange"></i></button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Dodawanie zajęć</h1>
      <h4 class="text-center">Uzupełnij formularz aby dodać nowe zajęcia.</h4>
      <form>
        <div class="form-group">
          <label for="exampleInputFirstName">Temat zajęć</label>
          <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Temat zajęć" [(ngModel)]="activity.name" name="firstName">
        </div>
        <div class="form-group">
          <label for="exampleInputLastName">Lokalizacja</label>
          <input type="text" class="form-control" id="exampleInputLastName" placeholder="Lokalizacja" [(ngModel)]="activity.location" name="lastName">
        </div>

        <div class='form-group date datepicker'>
          <label for="datepicker">Data: <i class="glyphicon glyphicon-calendar"></i></label>
          <input type='text' class="form-control" id="datepicker" placeholder="Data" [(ngModel)]="activity.startDate" name="startDate">
          <span class="input-group-addon" style="display: none" onclick="$('#datepicker').datepicker('dialog', new Date());">

       </span>
          {{activity.startDate}}
        </div>

        <button type="submit" class="btn btn-default center-block" style="color: white; background-color: #ff7726; width: 190px;" (click)="addActivity()">Dodaj zajęcie</button>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
