<div class="container">
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <a class="nav-link" routerLink="/students" routerLinkActive="active">Studenci</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/activities" routerLinkActive="active">Zajęcia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Zaloguj się</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/register" routerLinkActive="active">Zarejestruj się</a>
    </li>
  </ul>  
</div>
