<div class="nav navbar-nav navbar-right">
  <a class="nav-link" routerLink="/landing" routerLinkActive="active">Main page</a>
  <a class="nav-link" routerLink="/students" routerLinkActive="active">Students</a>
  <a class="nav-link" routerLink="/activities" routerLinkActive="active">Activities</a>
  <a class="nav-link" routerLink="/login" routerLinkActive="active">Log in</a>
  <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
  <a class="nav-link" routerLink="/attendance" routerLinkActive="active">Activity Attendance</a>
</div>
