<h2>Dodawanie zajęć</h2>
<p>Uzupełnij formularz aby dodać nowe zajęcia</p>

<div><label>Temat zajęć</label><input [(ngModel)]="activity.name"></div>
<div><label>Lokalizacja</label><input [(ngModel)]="activity.location"></div>
<div class='input-group date datepicker'>
  <label>Data:</label>
  <input type='text' class="form-control" [(ngModel)]="activity.startDate">
  <span class="input-group-addon">
         <span class="glyphicon glyphicon-calendar" (click)="getCalendar()"></span>
       </span>
  {{activity.startDate}}
</div>
<button class="form-control" style="color: white; background-color: #ff7726; width: 190px;" (click)="addActivity()">
  Dodaj zajęcie
</button>
